{% extends 'base.html' %}

{% block title %} Address Book {% endblock title %}

{% block content %}

<form method="POST">
    {{ form.csrf_token }}
    <div class="form-group mt-4">
        {{ form.name.label }}
        {{ form.name(class = 'form-control fw-lighter', placeholder='Enter Full Name') }}

        {{ form.number.label(class= 'mt-2') }}
        {{ form.number(class = 'form-control fw-lighter', placeholder='Enter Phone Number') }}

        {{ form.address.label(class= 'mt-2') }}
        {{ form.address(class = 'form-control fw-lighter', placeholder='Enter Address') }}

        {{ form.email.label(class= 'mt-2') }}
        {{ form.email(class = 'form-control fw-lighter', placeholder='Enter Email') }}

        {{ form.submit(class='btn btn-secondary w-100 mt-3') }}
    </div>
</form>

{% endblock content %}