{% extends 'base.html' %}

{% block title %} Addy {{ contact.id }} {% endblock title %}


{% block content %}
<!-- 
<div class="card mt-4 rounded max-width: 75rem;">
    <h5 class="card-header text-center text-white" style="background-color:#004E64">{{ contact.first_name }} {{ contact.last_name }}</h5>
    <div class="card-body">
        <h4 class="text-center">{{ contact.phone_number }}</h4>
        <h4 class="text-center">{{ contact.street_address }}</h4>
        <h4 class="text-center">{{ contact.city }}</h4>
        <h4 class="text-center">{{ contact.state }}</h4>
        <h4 class="text-center">{{ contact.country }}</h4>
        <h4 class="text-center">{{ contact.zip_code }}</h4>
    </div>
</div> -->
<div class="card text-bg-dark">
    <img src="images/Screen Shot 2022-08-20 at 7.55.02 PM.png" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>

{% if current_user == contact.book_owner %}
<div class="d-flex">
    <a href="{{ url_for('edit_addy', contact_id=contact.id) }}" class="btn btn-success w-50">Edit Addy</a>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger w-10" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete Addy
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ contact.first_name }} {{ contact.last_name }}'s address? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('delete_addy', contact_id=contact.id) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}