{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
{% if current_user.is_authenticated %}
<h6 class="text-center">Signed in as: {{ current_user.username }}</h6>

{% for contact in contacts %}
<div class="card">
    <div class="card-body">
        <a href="{{ url_for('view_addy_book', contact_id=contact.id) }}">
            <h5 class="card-title">{{ contact.first_name }}</h5>
        </a>
    </div>
</div>
{% endfor %}

{% else %}
<h5 class="text-center">sign up or log in to get started</h5>
{% endif %}

{% endblock content %}